/* Fuentes importadas de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* Fuentes generales */
h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 45px;
  font-weight: lighter;
  font-family: "Lora", serif;
}

h3 {
  font-weight: lighter;
  font-family: "Lora", serif;
}

h4,
p {
  font-family: "Work Sans", sans-serif;
}

/* body */
.container-body {
  margin: 0 5rem;
  background-color: #ffffff;
}

/* Header */
header > .header-flex,
.header-nav > nav > .nav-menu {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* Nav */
.nav-label,
.nav-input {
  display: none;
}

.header-nav li > a {
  margin-right: 3rem;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}
/* End Nav */

.header-flex .header-logo {
  width: 33%;
}

.header-flex .header-buy select {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #ffffff;
}

.header-flex .header-buy i {
  margin-left: 1rem;
}

/* Slider */
.container > .slider {
  background-image: url(Imagenes/slider-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.slider .description-slider {
  grid-area: 2 / 2 / 3 / 5;
}

.description-slider h1 {
  margin-bottom: 0.8rem;
  font-size: 70px;
  font-weight: 300;
}

.description-slider a {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}

/* Main */
/* Primera seccion de tarjetas */
.container > .sale-cards {
  margin: 8rem 0;
  display: grid;
  grid-auto-flow: column;
}

.sale-cards > .card:first-of-type {
  background-image: url(Imagenes/banner-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sale-cards > .card:nth-of-type(2) {
  background-image: url(Imagenes/banner-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sale-cards .card {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.card > h2 {
  margin-bottom: 0;
  color: #529f0f;
}

.card > h4 {
  font-size: 18px;
  text-transform: uppercase;
}

/* Segunda seccion de tarjetas */
/* tercera secion de tarjetas */
.latest-products,
.latest-news {
  padding: 3rem 0;
  background-image: url(Imagenes/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.new-products,
.footer-seccion {
  padding: 3rem 0;
  background-color: #f8f8f8;
}

.products-title {
  width: 550px;
  margin: 3rem auto;
  text-align: center;
}

.products-title > h2 {
  text-transform: capitalize;
  margin: 30px 0 5px 0;
}

.products-title h3 {
  font-size: 18px;
}

.latest-products .products-cards,
.new-products .products-cards,
.latest-news .products-cards,
.sponsors .products-cards,
.footer-seccion .footer-links,
.copyright-footer .copyright {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products-cards .card {
  margin: 1rem auto;
  position: relative;
}

.products-cards > .card > .circle-sale {
  width: 45px;
  height: 45px;
  background-color: #529f0f;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.circle-sale > h3 {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.products-cards > .card > .name-price {
  margin: 2rem 0;
}

.name-price > h4 {
  color: #737373;
  text-transform: capitalize;
  font-weight: 600;
}

.name-price p {
  font-weight: 600;
}

.products-price > span {
  text-decoration: line-through;
  font-weight: 600;
  color: #737373;
}

/* Testi */
.container > .description-testi {
  width: 40%;
  margin: 5rem auto;
  text-align: center;
}

.description-testi .author h3 {
  font-size: 22px;
  text-transform: capitalize;
  font-style: italic;
}

.description-testi .author h4 {
  margin: 3rem 0 4rem 0;
  font-size: 16px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.description-testi .author span {
  text-transform: capitalize;
  color: #b9b9b9;
  font-size: 15px;
}

/* Form suscribe */
.container > .subscribe {
  background-image: url(Imagenes/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe {
  width: 100%;
  height: 30%;
  padding: 4rem 0;
  text-align: center;
}

.subscribe > h1 {
  font-size: 45px;
  font-weight: 40;
}

.subscribe > .form-subscribe {
  margin: 3rem;
}

.subscribe > .form-subscribe input {
  width: 20%;
  padding: 1.5rem 1rem;
  border: 1px solid #b9b9b9;
}

.subscribe > .form-subscribe button {
  width: 10%;
  padding: 1.5rem 1rem;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
}

/* News */
.latest-news > .products-title > hr {
  width: 60%;
}

.latest-news .products-cards > .card {
  width: 30%;
}

.description-news > .month {
  color: #529f0f;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
}

.description-news h3:nth-of-type(2) {
  font-size: 25px;
  font-weight: 600;
  line-height: 2rem;
}

.description-news h3:nth-of-type(3) {
  color: #737373;
  line-height: 2rem;
}

.description-news > .link-news > a {
  padding: 1.5rem 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}

/* Patrocinadores */
.container > .sponsors > .products-cards {
  width: 100%;
  margin: 4rem 0;
}

.sponsors .logo-sponsors {
  margin: 2rem 0;
}

/* Footer */
.footer-seccion .footer-links > ul {
  padding: 0;
  text-transform: capitalize;
}

.footer-links > ul > h3 {
  font-size: 25px;
  font-weight: 600;
}

.footer-links > ul > li,
.number > li {
  list-style: none;
  line-height: 40px;
}

.footer-links > ul > li > a,
.number > li > a {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

.footer-links > ul .number {
  padding: 1.5rem 0;
}

.copyright-footer,
.copyright,
.copyright span {
  background-color: #ebebeb;
  align-items: center;
  font-weight: 600;
}

/* Media Queries para Mobile */
@media screen and (max-width: 640px) {
  /* Contenedor general */
  .container-body {
    margin: 0 1rem;
  }

  /* Menu hamburguesa */
  .nav-label {
    display: flex;
    order: 3;
  }

  .header-nav > nav > .nav-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 82px;
    bottom: 0;
    width: 100%;
    left: 0;
    justify-content: space-evenly;
    flex-direction: column;
    clip-path: circle(0 at center);
  }

  .nav-menu > li > a {
    margin: 0;
  }

  .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center);
    background-color: #ffffff;
  }

  .header-nav {
    order: 3;
  }

  .header-buy {
    width: 50%;
    text-align: right;
  }
  /* Silder general*/
  .description-slider h1 {
    font-size: 38px;
  }

  .container > .slider {
    height: 650px;
  }

  .slider .description-slider {
    grid-area: 2 / 1 / 3 / 6;
  }

  /* Primera seccion de tarjetas */
  .container > .sale-cards {
    margin: 4rem 0;
    grid-auto-flow: row;
  }

  .products-title > h2 {
    font-size: 35px;
  }

  .sale-cards .card {
    margin: 1rem auto;
    padding: 4rem 2rem;
  }

  /* Seguna seccion de tarjetas */
  /* Tercera seccion de tarjetas */
  .latest-products .card:nth-of-type(2),
  .latest-products .card:nth-of-type(3),
  .latest-products .card:nth-of-type(4),
  .new-products .card:nth-of-type(2),
  .new-products .card:nth-of-type(3),
  .new-products .card:nth-of-type(4),
  .new-products .card:nth-of-type(6),
  .new-products .card:nth-of-type(7),
  .new-products .card:nth-of-type(8),
  .sponsors .logo-sponsors:nth-of-type(2),
  .logo-sponsors:nth-of-type(3),
  .logo-sponsors:nth-of-type(4),
  .logo-sponsors:nth-of-type(5) {
    display: none;
  }

  .latest-products,
  .latest-news,
  .new-products,
  .footer-seccion {
    padding: 3rem 1rem;
  }

  .latest-products .products-cards,
  .new-products .products-cards,
  .latest-news .products-cards,
  .sponsors .products-cards,
  .footer-seccion .footer-links,
  .copyright-footer .copyright {
    width: 100%;
  }

  .products-cards > .card > img {
    width: 100%;
    height: 450px;
  }

  .products-cards > .card > .circle-sale {
    width: 55px;
    height: 55px;
    top: 20px;
    left: 50px;
  }

  .circle-sale > h3 {
    margin: 1.1rem 0;
  }

  .products-title {
    width: 85%;
  }

  .latest-news .products-cards > .card {
    width: 90%;
  }

  .latest-news > .products-title > hr {
    width: 50%;
  }

  /* Tercera seccion de tarjetas */
  .container > .description-testi {
    width: 70%;
  }

  /* Formulario */
  .subscribe > .form-subscribe {
    margin: 3rem 0;
  }

  .subscribe > h1 {
    font-size: 35px;
  }

  .subscribe > .form-subscribe input {
    width: 50%;
  }

  .subscribe > .form-subscribe button {
    width: 30%;
  }

  /* Patrocinadores */
  .container > .sponsors {
    padding: 2rem 0;
    text-align: center;
  }

  /* Footer */
  .products-cards,
  .footer-links,
  .copyright {
    flex-direction: column;
  }

  .copyright img {
    width: 90%;
    margin: 1rem;
  }
}
