/* Fuentes importadas de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Fuentes generales */
h1{
  font-family: 'Playfair Display', serif;
}

h2{
  font-size: 45px;
  font-weight: lighter;
  font-family: 'Lora', serif;
}

h3{
  font-weight: lighter;
  font-family: 'Lora', serif;
}

h4, 
p{
  font-family: 'Work Sans', sans-serif;
}

/* body */
.container-body{
  width: 90%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

/* Header */
header > .header-flex{
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav */
.header-nav > nav > ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header-nav li > a{
  margin-right: 3rem;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}
/* End Nav */

.header-flex .header-logo{
  width: 32%;
}

.header-flex .header-buy select{
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #FFFFFF;
}

.header-flex .header-buy i {
  margin-left: 1rem;
}

/* Slider */
.container > .slider{
  width: 100%;
  height: 80vh;
  background-image: url(/Imagenes/slider-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
}

.slider .description-slider{
  grid-area: 2 / 2 / 3 / 3;
}

.description-slider h1{
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 300;
}

.description-slider a{
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
}

/* Main */
/* Primera seccion de cards */
.container > .sale-cards{
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 14% 35% 2% 35% 14%;
  grid-template-rows: 4rem 10rem 10rem 4rem;
}

.sale-cards > .card:first-child{
  grid-area: 2 / 2 / 4 / 3;
  background-image: url(/Imagenes/banner-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sale-cards > .card:nth-child(2) {
  grid-area: 2 / 4 / 4 / 5;
  background-image: url(/Imagenes/banner-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sale-cards .card{
  padding: 4rem 1.5rem;
}

.card > h2{
  margin-bottom: 0;
  color: #529F0F;
}

.card > h4{
  font-size: 18px;
  text-transform: uppercase;
}

/* Segunda seccion de cards */
.latest-products, 
.latest-news{
  padding: 3rem 0;
  background-image: url(/Imagenes/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.new-products,
.footer-seccion{
  padding: 3rem 0;
  background-color: #F8F8F8;
}

.products-title{
  width: 30%;
  margin: 3rem auto;
  text-align: center;
}

.products-title > h2{
  text-transform: capitalize;
  margin: 30px 0 5px 0;
}

.products-title h3{
    font-size: 18px;
}

.latest-products .products-cards, 
.new-products .products-cards, 
.latest-news .products-cards,
.sponsors .products-cards,
.footer-seccion .footer-links,
.copyright-footer .copyright{
  width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.latest-products .products-cards > .card,
.new-products .products-cards > .card{
  width: 300px;
  height: 300px;    
}

.latest-products .products-cards > .card:nth-of-type(1){
  background-image: url(/Imagenes/product-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.latest-products .products-cards > .card:nth-of-type(2){
  background-image: url(/Imagenes/product-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.latest-products .products-cards > .card:nth-of-type(3){
  background-image: url(/Imagenes/product-3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.latest-products .products-cards > .card:nth-of-type(4){
  background-image: url(/Imagenes/product-4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.products-cards > .card > .circle-sale{
  width: 45px;
  height: 45px;
  margin-left: 1rem;
  background-color: #529F0F;
  border-radius: 50%;
  text-align: center;
}

.circle-sale > h3{
  padding: 0.8rem 0;
  font-size: 14px;
  font-weight: 600;
  color: #FFFFFF;
}

.products-cards > .name-price{
  width: 300px;
  margin: 1rem 0 1.5rem 0;
}

.name-price > h4{
  color: #737373;
  text-transform: capitalize;
  font-weight: 600;
}

.name-price p {
  font-weight: 600;
}

.products-price > span{
  text-decoration: line-through;
  font-weight: 600;
  color: #737373;
}


/* Testi */
.container > .description-testi{
  width: 40%;
  margin: 5rem auto;
  text-align: center;
}

.description-testi .author h3{
  font-size: 22px;
  text-transform: capitalize;
  font-style: italic;
}

.description-testi .author h4 {
  margin: 3rem 0 4rem 0;
  font-size: 16px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.description-testi .author span{
  text-transform: capitalize;
  color: #B9B9B9;
  font-size: 15px;
}

/* 3ra cards */
.new-products .products-cards{
  flex-wrap: wrap;
}

.new-products .products-cards > .card:nth-of-type(1){
  background-image: url(/Imagenes/product-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.new-products .products-cards > .card:nth-of-type(2){
  background-image: url(/Imagenes/product-3.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.new-products .products-cards > .card:nth-of-type(3){
  background-image: url(/Imagenes/product-5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.new-products .products-cards > .card:nth-of-type(4){
  background-image: url(/Imagenes/product-7.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.new-products .products-cards > .card:nth-of-type(5){
  background-image: url(/Imagenes/product-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.new-products .products-cards > .card:nth-of-type(6){
  background-image: url(/Imagenes/product-4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.new-products .products-cards > .card:nth-of-type(7){
  background-image: url(/Imagenes/product-6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.new-products .products-cards > .card:nth-of-type(8){
  background-image: url(/Imagenes/product-8.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Form suscribe */
.container > .subscribe{
  background-image: url(/Imagenes/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe{
  width: 100%;
  height: 25vh;
  padding: 4rem 0;
  text-align: center;
}

.subscribe > h1{
  font-size: 45px;
  font-weight: 40;
}

.subscribe > .form-subscribe{
  margin: 3rem;
}

.subscribe > .form-subscribe input{
  width: 20%;
  padding: 1.5rem 1rem;
  border: 1px solid #B9B9B9;
}

.subscribe > .form-subscribe button {
  width: 10%;
  padding: 1.5rem 1rem;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* News */
.latest-news > .products-title > hr{
  width: 60%;
}

.latest-news .products-cards > .card{
  width: 30%;
}

.description-news > .month{
  color: #529F0F;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
}

.description-news h3:nth-of-type(2) {
  font-size: 25px;
  font-weight: 600;
  line-height: 2rem;
}

.description-news h3:nth-of-type(3) {
  color: #737373;
  line-height: 2rem;
}

.description-news > .link-news > a{
  padding: 1.5rem 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}

/* Patrocinadores */
.container > .sponsors{
  margin: 2rem;
  padding: 4rem 0;
}

/* Footer */
.footer-seccion .footer-links > ul{
  padding: 0;
  text-transform: capitalize;
}

.footer-links > ul > h3{
  font-size: 25px;
  font-weight: 600;
}

.footer-links > ul > li,
.number > li{
  list-style: none;
  line-height: 40px;
}

.footer-links > ul > li > a, 
.number > li > a{
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
}

.footer-links > ul .number {
  padding: 1.5rem 0;
}

.copyright-footer,
.copyright,
.copyright span{
  background-color: #EBEBEB;
  align-items: center;
  font-weight: 600;
}


